*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first {
    height: 75vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* background-color: #5f1717; */
}

.first img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
hr {
    border: 2px solid #908888;
    margin: 20px;
    width: 98%;
}

.heading1 h1{
    font-size: 3rem;
    font-weight:bolder;
    color: #9e2d2d;
    text-align: center;
    padding-top: 40px;
}

.aboutusphoto{
    display: flex;
    align-items: center;
    /* gap: 1px; */
    /* padding: 1px 1px; */
    /* flex-wrap: wrap; */
}

/* ..............................DM.................... */
.SEO{
   height:455px;
   width: 300px;
   margin: auto;
   /* border:2px solid black; */
   margin-top:16px;
   border-radius: 13px;
   box-shadow: #908888 0px 4px 12px;
}

.SEO img{
  height:210px;
  width: 200px;
  margin-top:170px;
  margin: auto;
  border-radius: 50pc;
  padding-top: 15px;
  
}

.SEO h1{
    text-align:center;
    padding:5px;
    font-size:30px;
    font-weight: bold;
}

.SEO p{
    text-align: left;
    font-size: 18px;
    padding: 0px 10px;
    display: inline-block;
    /* overflow: hidden; */
}
.SEO span{
    color:#9e2d2d
}
/* ..................CEO.................................... */

.CEO{
   height:455px;
   width: 300px;
   margin: auto;
   /* border:2px solid black; */
   margin-top:16px;;
   border-radius: 13px;;
   box-shadow: #908888 0px 4px 12px;
}

.CEO img{
  height:210px;
  width: 200px;
  margin-top:170px;
  margin: auto;
  border-radius: 50pc;
  padding-top: 15px;
  
}

.CEO h1{
    text-align:center;
    padding:5px 2px 3px;
    font-size:30px;
    font-weight: bold;
}

.CEO p{
    text-align: left;
    font-size: 18px;
    padding: 0px 10px;
    display: inline-block;
    /* overflow: hidden; */
}

.CEO span{
    color:#9e2d2d
}

/* ............................IAS...................................... */


.IAS{
   height:455px;
   width: 300px;
   margin: auto;
   /* border:2px solid black; */
   margin-top:16px;
   border-radius: 13px;
   box-shadow: #908888 0px 4px 12px;
}

.IAS img{
  height:210px;
  width: 200px;
  margin-top:170px;
  margin: auto;
  border-radius: 50pc;
  padding-top: 15px;
  
}

.IAS h1{
    text-align:center;
    padding:5px 2px 3px;
    font-size:30px;
    font-weight: bold;
}


.IAS p{
    text-align: left;
    font-size: 18px;
    padding: 0px 10px;
    display: inline-block;
    /* overflow: hidden; */
}


.IAS span{
    color:#9e2d2d;
}



.disigners{
    text-align: center;
    padding: 40px 0px;
    font-size: 20px;
}





