* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 70vh;
    display: block;
}

/* video */
.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LEFT text container */
.hero-text.left {
    position: absolute;
    top: 45%;
    left: 8%;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 2;
    text-align: left;
    max-width: 600px;
}

/* heading */
.hero-text h1 {
    font-size: 4rem;
    font-weight: 700;
}

/* subtitle */
.subtitle {
    font-size: 1.3rem;
    margin-top: 12px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1.8s;
}

/* LETTER animation */
.fall-letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(-60px);
    animation: fall 0.6s ease forwards;
}

/* keyframes */
@keyframes fall {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* explore button */
.btn {
    margin-top: 30px;
    padding: 15px;
    font-size: 1.2rem;
    background-color: #de6142;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff3b2f;
}

/* horizontal lines */
hr {
    border: 2px solid #908888;
    margin: 20px;
    width: 98%;
}

/*section para */
.section-para {
    padding: 30px;
    display: flex;
    height: 130vh;
    width: 100%;
    justify-content: space-between;
}

.para1 {
    margin: 30px;
    height: 28vh;
    width: 30vw;
    font-size: 1.5rem;
    /* border: 1px solid #908888; */
}

h3 {
    color: #9e2d2d;
    font-weight: bold;
    font-size: 3rem;
}

.hero-section-para {
    display: flex;
    align-items: center;
    gap: 40%;
    padding: 20px;
}

/* Culture Section */
.culture-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: url('src/assets/clipart_background.png') no-repeat center;
    background-size: cover;
    /* opacity: 1; */
    /* filter: brightness(0.5) contrast(1.2); */
    clip-path: polygon(
    0 0,
    15% 0,
    53% 30%,
    100% 0,
    100% 100%,
    0 100%
  );
    position: relative;
    gap: 20px;
}

.culture-text {
    /* flex: 1; */
  color: rgba(255, 255, 255, 0.9); /* Dark white text */
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9); */
    padding-top: 130px;
    height: 50vh;
    width: 50%;
    /* border: 5px solid red; */
}

.culture-text h2 {
    font-size: 2.8rem;
    font-weight: bolder;
}

.culture-text p {
    font-size: 1.3rem;
    line-height: 1.8;
}

.more {
    margin: auto;
    align-self: center;
}

.culture-images {
    /* flex: 1; */
    display: flex;
    gap: 20px;
    justify-content: center;
}

.culture-images img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 5px solid #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}