
.whocontainer{
  font-family: Arial, sans-serif;
   width: 100%;
}
.who-container {
  padding: 90px;
  font-family: Arial, sans-serif;
  width: 90%;
  margin: auto;
 
}

.search-bar {
  background: lab(94.82% 1.68 0.58);
  padding: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 60%;
  padding: 8px;
  font-size: 14px;
}

.table-section {
  margin-bottom: 40px;
  border: 1px solid #ddd;
}

.section-title {
  background: black;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.who-table {
  width: 100%;
  border-collapse: collapse;
}

.who-table th {
  background: #d63b3b;
  color: white;
  padding: 10px;
  text-align: left;
}

.who-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.who-table tr:hover {
  background: #f5f5f5;
}
