.sestion {
  width: 100%;          
  height: 100vh;  
}
.sestion img {
  width: 100%;
  height: 85%;
  object-fit: cover;     
  object-position: center; 
}
/* Section grid */
.sestion2 {
margin-top: -50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* ek row me 3 cards */
}


.boxmain h2{
  color:  rgb(8, 8, 8);
  padding :20px;
 text-align: center;
  font-size: 25px; 
  font-weight: 900;

} 






.boxmain p{
  padding: 10px;
  margin-top: -25px;
}



.icon {
top: -20px;;
    width: 45px;
    height: 45px;
    
} 






.boxmain {
  gap:20px;
  /* box-shadow: 2px 2px 2px  2px rgb(52, 51, 51); */
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color:rgb(240, 243, 249)
}

/* image */
.boxmain img {
  margin-top: 25px;
  margin-left: 34px;
  width: 85%;
  height: 320px;
  object-fit: cover;
   border-radius: 10px;
  display: block;
  transition: transform 0.4s ease;
}

/* button hidden by default */
.boxmain button {
  position: absolute;
  top: 150px;          
 left: 50%; 
  transform: translateX(-50%);
  background: rgb(205, 32, 47);
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  opacity: 0;
  transition: 0.3s ease;
}  
.boxmain button:hover{
  background-color: rgb(52, 158, 61);
}
/* show button on image hover */ 
  .boxmain:hover button {
  opacity: 1;
 
}  

 /* optional: image zoom */
  .boxmain:hover img { 
   transform: scale(1.1);
}  
