.NavContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #709266;
  padding: 0.75rem;
  color: white;
}
img{
  height: 2.5rem;
  width: 2.5rem;
}
.navbar{
  display: flex;
  gap: 3rem;
  align-items: center;
}
.language {
  display: flex;
  align-items: center;
}
.languageIcon {
  font-size: 29px;
}
.right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.themeIcon{
  font-size: 25px;
  font-weight: bolder;
}