/* ================= HERO ================= */

.culture-hero {
  position: relative;
  width: 100%;
  height: 80vh;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ================= COMMON SECTION ================= */

.main-info {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px 8%;
}

/* ================= FIRST SECTION ================= */
/* IMAGE LEFT – TEXT RIGHT */


.culture-img {
  width: 45vw;
  height: 43vh;
  border-radius: 12px;
}


/* ================= SECOND SECTION ================= */
/* IMAGE RIGHT – TEXT LEFT */

.chatpuja {
  flex-direction: row-reverse;
}

.content {
  width: 50%;
}

.headings {
  font-size: 38px;
  color: red;
  margin-bottom: 10px;
}

.main-info-text {
  font-size: 20px;
  line-height: 1.7;
}

.culture-text {
  font-size: 90px;
  position: absolute;
  top: 15%;
  left: 25%;
  /* transform: translate(-50%, -50%); */
  color: white;
}

.culture-text span {
  display: inline-block;
  will-change: transform, opacity;
}

/* Different animations for each letter with staggered delays */
.animation1 {
  animation: fadeInLeftBig 0.9s ease-out 0s both;
}

.animation2 {
  animation: fadeInTopLeft 0.9s ease-out 0.2s both;
}

.animation3 {
  animation: fadeInUpBig 0.9s ease-out 0.5s both;
}

.animation4 {
  animation: fadeInTopRight 0.9s ease-out 0.7s both;
}

.animation5 {
  animation: fadeInRightBig 0.9s ease-out 0.9s both;
}

.animation6 {
  animation: fadeInBottomRight 0.9s ease-out 1s both;
}

.animation7 {
  animation: fadeInDownBig 0.9s ease-out 1.2s both;
}

.animation8 {
  animation: fadeInBottom 0.9s ease-out 1.4s both;
}

.animation9 {
  animation: fadeInLeftBig 0.9s ease-out 1.7s both;
}

.animation10 {
  animation: fadeInTopLeft 0.9s ease-out 1.9 both;
}

.animation11 {
  animation: fadeInUpBig 0.9s ease-out 2s both;
}

.animation12 {
  animation: fadeInTopRight 0.9s ease-out 2.2s both;
}

.animation13 {
  animation: fadeInRightBig 0.9s ease-out 2.5s both;
}

.animation14 {
  animation: fadeInBottomRight 0.9s ease-out 2.9s both;
}

.animation15 {
  animation: fadeInDownBig 0.9s ease-out 3.2s both;
}

.animation16 {
  animation: fadeInBottomLeft 0.9s ease-out 3.5s both;
}


/* .culture-text{
  font-family: monospace;
  font-size: 32px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  width: 10px;

  animation:
    typing 6s steps(14) infinite alternate,
    blink 0.8s infinite;
}

/* typing + erasing */
/* @keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 18ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}  */


























/* ================= MOBILE RESPONSIVE ================= */

/* @media (max-width: 768px) {

  .culture-text {
    font-size: 32px;
    text-align: center;
  }

  .jhijiya,
  .chatpuja {
    flex-direction: column;
    padding: 25px;
  }



  .jhijhiya-text,
  .chatpuja-text {
    width: 100%;
    text-align: center;
  }

  .jhijhiya-text h2,
  .chatpuja-text h2 {
    font-size: 28px;
  }

  .jhijhiya-text p,
  .chatpuja-text p {
    font-size: 18px;
  }
} */